<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sedgwick+Ave&display=swap" rel="stylesheet">


</head>
<body class="<%= cssClass %>">
    
    <form name="form" action="/" method="post">

        <input  id="search" type="text" name="cityname" placeholder="Please enter city name">
        
    </form>


    <div class="container">
        <div class="left-box">

            <img  src="<%= icon %>" alt="image show the Weather">

        </div>

        <div class="right-box">
           
            <div class="upper-box">
                <h1><%= temperature %>°c</h1>

                <h2><%= x %></h2>

                <h3><%= name %></h3>
            </div>
            <div class="lower-box">

                <div class="humidity">
                   <p> <span class="material-symbols-outlined">
                        humidity_percentage
                    </span>
                    <%= humidity %>%</p><br>
                    Humidity
                </div>

                <div class="windSpeed">
                   <p> <span class="material-symbols-outlined">
                        airwave
                    </span> 
                   <%= windSpeed %> Km/h</p><br>
                    Wind Speed 
                </div>


            </div>

        </div>

        


    </div>
    
</body>
</html>